<!DOCTYPE html>
<html>
<head>
  <title>PhoneBookApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag unless response.cache_control[:public] %>
</head>
<body>

<%= yield %>

</body>
</html>
